body {
  font-family: "Raleway", sans-serif;
}

#gatos {
  background-image: url("../img/gatitos.png");
  height: auto;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left;
}

#Mis-desafios .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}

.card-body{
    height: 280px;
    width: 214px;
}